{{ attach_library('iish_conference_networks/global-styling') }}

<p>{{ network.comment|text }}</p>
<span class="chair-title">{{ 'Chairs'|iish_t ~ ':' }}</span>

{% for chair in network.chairs %}
    <div class="chair">
        <span class="chair-name">{{ chair.fullName }}</span>
        <span class="chair-location">{{ chair.locationDetails }}</span>
        <span class="chair-email">
            <a href="{{ 'mailto:' ~ chair.email }}">
                {{ chair.email }}
            </a>
        </span>
        <span class="mailto"></span>
    </div>
{% endfor %}

<p>{{ network.longDescription|text }}</p>
